/*
  TOOLBAR
 */
$toolbar-background: #162738;
$toolbar-foreground: white;

/*
  MENU
 */
$menu-background-background: black;
$main-menu-background: white;
$main-menu-inQuickLaunch: cornflowerblue;
$main-menu-notInQuickLaunch: $main-menu-background;