
.ic_spares {
  background: url("./../images/icons/ic_spares.svg");
}

.ic_assets {
  background: url("./../images/icons/ic_assets.svg");
}

.ic_scheduling {
  background: url("./../images/icons/ic_scheduling.svg");
}
