@import './colors';

#menu-background {
  background: $menu-background-background;
  opacity: 0;
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  will-change: opacify;
}

.main-menu {
  position:absolute;
  top:0;
  left:0;
  right:15%;
  bottom:0;
  background: $main-menu-background;
}
