label {
  display: block;
  margin-top: 1rem;
}

.descriptor {
  color: silver;
}

.collection {
  width: 10rem;
  margin-right: 1rem;
}

ul[selectable] {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 1rem;

  li {
    padding: 0.5rem;
    padding-left: 1rem;
  }
}

[data-selected="true"] {
  background: coral;
  color: white;
}

textarea {
  width: 100%;
}