@import './normalize';
@import './fonts';
@import './layout';
@import './colors';
@import './menu';
@import './icons';
@import './views';

* {
  margin:0;
  padding:0;
}

.application-bar {
  background: $toolbar-background;
  padding-left: 5rem;
  color:white;
  height: 3.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

router-view {
  width: 100%;
  height: 100%;
}

[aria-hidden="true"] {
  display: none;
  pointer-events: none;
}

ul[role="tree"] {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.spacer {
  flex: 1;
}

.appbar-notifications {
  margin-right: 2rem;
  display: flex;
  width: 4rem;
  justify-content: space-between;
}