@import './normalize';
@import './fonts';
@import './layout';
@import './colors';
@import './menu';
@import './icons';

* {
  margin:0;
  padding:0;
}

.application-bar {
  background: $toolbar-background;
  color:white;
}

router-view {
  width: 100%;
  height: 100%;
}

[aria-hidden="true"] {
  display: none;
  pointer-events: none;
}

ul[role="tree"] {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}